/*---------------------
        RESET
 ---------------------*/
*,
*::before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
/* Allow percentage-based heights in the application */
html,
body,
#root {
  height: 100%;
}
/* Typographic tweaks! Add accessible line-height Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*****************************
            GLOBAL
 *****************************/
:root {
  --editor-top-bar-background: black;
  --tab-bg: #131417;
  --tab-border-color: #2a2c33;
  --resizer-background: var(--editor-top-bar-background);
  --resizer-border: #242424;
}

body {
  --c: rgb(0 0 0 / 0.95);
  --bgb: linear-gradient(var(--c), var(--c));
  --bg: repeating-conic-gradient(
    from 7.5deg at center center,
    hsl(200, 100%, 0%) 0deg 15deg,
    hsl(200, 100%, 60%) 10deg 30deg
  );

  background: var(--bgb), var(--bg), black;
  padding: 1rem;
}

/*****************************
           LAYOUT
 *****************************/
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0fr;
  align-items: center;
  justify-content: center;

  height: 100%;
  transition: all 3s ease-in-out;
}

.code-container {
  grid-row: 1/2;
  grid-column: 1/2;
}

.preview {
  grid-row: 1/2;
  grid-column: 2/3;
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr 0fr;
    grid-template-rows: 1fr 1fr;
  }

  .code-container {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .preview {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}
